<div class="container">
  <a [routerLink]="['overview']" routerLinkActive="router-link-active"><span class="link">Overview</span></a>
  <a [routerLink]="['create']" routerLinkActive="router-link-active"><span class="link">Create Voucher</span></a>
  <a [routerLink]="['vouchers']" routerLinkActive="router-link-active"><span class="link">Voucher</span></a>
  <a [routerLink]="['profile']" routerLinkActive="router-link-active"><span class="link">Profile</span></a>
  <a [routerLink]="['redeem']" routerLinkActive="router-link-active"><span class="link">Redemption</span></a>
</div>